django==5.2.17
trimesh~=4.0
scipy~=1.12
django_webpack_loader~=3.0
djangorestframework~=3.17
django-cors-headers~=4.3
channels[daphne]~=4.0
scikit-learn~=1.5

# Docs
mkdocs~=1.5
mkdocstrings-python~=1.8
mkdocs-material~=9.7
pymdown-extensions~=10.16
