{% load render_bundle from webpack_loader %}
<!DOCTYPE html>

<html>
    <head>
        {% render_bundle 'main' %}
    </head>
    <body>
        <h1>Here is not a cube</h1>
        <div id="render-region"></div>
    </body>

    <script>
        const meshSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/dynamic_mesh/'
        );

        meshSocket.onmessage = function(e) {
            console.log(e)
            const data = JSON.parse(e.data);
            console.log(data)
        };

        meshSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        window.onload = function () {
            vis.addData( {{ flat_vertices }}, {{ flat_faces }} ) ;
          };
    </script>
</html>
