{% load render_bundle from webpack_loader %}
{% load static %}
<!DOCTYPE html>

<html>
    <style>
        * {
          box-sizing: border-box;
        }

        /* Create two equal columns that floats next to each other */
        .render-region {
            float: left;
            width: 80%;
            height: 90%;
        }
        .command-panel {
            float: left;
            width: 15%;
            height: 90%;
            padding: 10px;
        }

        /* Clear floats after the columns */
        .row:after {
          content: "";
          display: table;
          clear: both;
        }

        .density_map_filled{
            background-color: black;
            width: 1px;
            height: 1px;
        }

        .density_map_empty{
            background-color: white;
            width: 1px;
            height: 1px;
        }
    </style>
    <head>
        {% render_bundle 'main' %}
    </head>
    <body>
        <div id="header">
            <h1>Sampled Mesh</h1>
        </div>
        <div id="body" class="row">
            <div id="render-region" class="render-region" style="width: 80%"></div>
            <div id="command-panel" class="command-panel" style="width: 19%">
                <h1>Command Pallet</h1>
                <h3>Mesh Functionality</h3>
                <button onclick="clear_global_mesh()">Clear Mesh</button>
                <button onclick="get_density_map()">Update Density Map</button>
                <button onclick="draw_vertices()">Draw vertices</button>
                <button onclick="removeVertexMarkers()">Delete vertices</button>
                <div>
                    <input type="range" id="mesh_opacity" name="mesh_opacity" min="0" max="1" step="0.01" value="1">
                    <label for="mesh_opacity">Mesh Opacity</label>
                </div>
                <div>
                    <input type="range" id="vertex_opacity" name="vertex_opacity" min="0" max="1" step="0.01" value="0">
                    <label for="vertex_opacity">Vertex Opacity</label>
                </div>
                <div>
                    <input type="range" id="water_opacity" name="water_opacity" min="0" max="1" step="0.01" value="1">
                    <label for="water_opacity">Water Opacity</label>
                </div>
                <h3>Density Map</h3>
                <table id="density_map" style="border: 1px solid;"></table>
                <br>
                <p id="status-message"></p>
            </div>
        </div>
    </body>

    <script>
        var savedVertices = [];

        // Websockets
        const meshSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/dynamic_mesh/'
        );

        meshSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            savedVertices = data.flat_vertices;
            vis.addData( data.flat_vertices, data.flat_faces );
        };

        meshSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        // page functionality
        const emptyDensityRow = Array(64)
        emptyDensityRow.fill(false)
        const emptyDensityMap = Array(64)
        emptyDensityMap.fill(emptyDensityRow)

        window.onload = async function () {
            savedVertices = {{ flat_vertices }};
            await vis.init();
            vis.addData( {{ flat_vertices }}, {{ flat_faces }} );
            updateDensityMap( emptyDensityMap );
          };

        function updateDensityMap( densityArray ) {
            // clear the density map
            const mapObject = document.querySelector("#density_map");
            mapObject.innerHTML = "";
            // set the inner content
            densityArray.forEach((rowVal, i) => {
                const rowObj = mapObject.insertRow(i);
                rowVal.forEach((colVal, j) => {
                    const cellObj = rowObj.insertCell(j);
                    if (colVal) {
                        cellObj.className = "density_map_filled";
                    } else {
                        cellObj.className = "density_map_empty";
                    }
                });
            });
        }

        // Button interactions
        function clear_global_mesh() {
            fetch("/api/mesh/clear/", {method: 'DELETE'})
                .then(response => {
                        document.getElementById("status-message").innerText = "mesh cleared"
                    }
                )
        }

        function get_density_map() {
            fetch('api/mesh/densitymap/')
                .then(response => {
                    response.json().then(
                        dataObj => {
                            console.log(dataObj.message);
                            updateDensityMap(dataObj.data)
                        }
                    )
                })
        }

        function draw_vertices() {
            vis.addVertexMarkers( savedVertices );
        }

        function removeVertexMarkers() {
            vis.removeVertexMarkers();
        }

        // Object opacity
        const meshOpacity = document.querySelector("#mesh_opacity");
        meshOpacity.addEventListener("input", (event) => {
            vis.setMeshOpacity(event.target.value);
        });

        const vertexOpacity = document.querySelector("#vertex_opacity");
        vertexOpacity.addEventListener("input", (event) => {
            vis.setVertexOpacity(event.target.value);
        });

        const waterOpacity = document.querySelector("#water_opacity");
        waterOpacity.addEventListener("input", (event) => {
            vis.setWaterOpacity(event.target.value);
        });

    </script>
</html>
